.recipeCard {
}

.gallery {
  position: relative;
  height: 100%;
}

.single-photo {
  position: relative;
  height: 100%;
  display: flex;
}

.photos {
  position: relative;
  /* height: 100%; */
  display: flex;
  animation-name: rotate-photos;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

.photos img,
.single-photo img {
  height: auto;
  width: stretch;
  width: -webkit-fill-available;
}

.photos img {
  object-fit: fill;
}

.single-photo img {
  object-fit: cover;
}

.photos.playing {
  animation-play-state: running;
}

.photos.paused {
  animation-play-state: paused;
}

.imagePlay,
.imagePaused {
  display: block;
  pointer-events: all;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: space-between;
  align-items: center;
}

.categoryName {
  color: #fff;
  text-transform: uppercase;
  margin: 0.2rem 0.5rem;
  font-size: 0.8rem;
  max-width: 8.5rem;
}

.slideshowButton {
  display: flex;
  flex-direction: row;
  margin: 0.2rem 1rem;
}

.footerLink {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slideshowButton img {
  height: 30px;
  margin: 0 5px;
}

@media screen and (min-width: 360px) {
  .categoryName {
    font-size: 1rem;
    margin: 0.2rem 1rem;
    white-space: nowrap;
  }

  .slideshowButton img {
    height: 25px;
  }
}

@media screen and (min-width: 768px) {
  .categoryName {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@keyframes rotate-photos {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
